/*.navbar-brand-box {
	max-width: 300px;
    width: 300px;
	max-height: 300px;
    height: 300px;
}

a.navbar-brand img {
	max-width: 300px;
    width: 300px;
	max-height: 300px;
    height: 300px;
}*/